.DS_Store
node_modules/
dist/*
coverage/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
./show.gif

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
jest_html_reporters.html
jest-html-reporters-attach
test/Examples/*
html-report/*
/*.d.ts
/helper.js
/index.js

tsconfig.tsbuildinfo