.path_text {
  overflow-wrap: anywhere;
}

.copy_icon {
  margin-right: 10px;
  cursor: pointer;
}

.go_to_file_icon {
  margin-left: 10px;
  cursor: pointer;
}

.inner_path_text {
  overflow-wrap: break-word;
  white-space: normal;
}
// code modal
pre {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  border-radius: 10px;
  box-shadow: 0px 1px 1px 1px #eee;
}


.main_table_tags {
  text-align: center;
  .ant-tag {
    width: 40px;
    text-align: center;
    padding: 1px;
    margin-right: 2px;
    box-shadow: 0px 1px 1px 0px #eee;
  }
  .one_tag {
    width: 120px;
    span {
      display: inline-block;
      font-weight: 500;
      text-align: left;
      padding-left: 8px;
    }
    i {
      margin-left: 5px;
    }
  }
}

.expand_box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .expand_title {
    font-size: 16px;
    .text {
      margin-right: 10px;
    }
  }
}

.detail_status_text {
  text-transform: capitalize;
  font-size: 0.8em;
  margin-left: 1em;
}

.merge-box {
  margin: -4px 10px 3px 10px;
  border-radius: 3px;
  padding: 0px 10px;
}

.them-switch {
  box-shadow: 1px 1px #eee;
}
